<%- include('header.ejs'); %>
<div class = "container-fluid text-center line abt-head p-5">
    <h1> About us</h1>
    <hr>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta distinctio magnam dolor a asperiores illum, 
       tempore autem. Omnis deleniti qui ratione molestiae, laudantium dignissimos nisi quo ad nam non eligendi? 
       Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta distinctio magnam dolor a asperiores illum, 
        tempore autem. Omnis deleniti qui ratione molestiae, laudantium dignissimos nisi quo ad nam non eligendi? 
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta distinctio magnam dolor a asperiores illum, 
            tempore autem. Omnis deleniti qui ratione molestiae, laudantium dignissimos nisi quo ad nam non eligendi? 
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta distinctio magnam dolor a asperiores illum, 
                tempore autem. Omnis deleniti qui ratione molestiae, laudantium dignissimos nisi quo ad nam non eligendi?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta distinctio magnam dolor a asperiores illum, 
       tempore autem. Omnis deleniti qui ratione molestiae, laudantium dignissimos nisi quo ad nam non eligendi? 
       Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta distinctio magnam dolor a asperiores illum, 
        tempore autem. Omnis deleniti qui ratione molestiae, laudantium dignissimos nisi quo ad nam non eligendi? 
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta distinctio magnam dolor a asperiores illum, 
            tempore autem. Omnis deleniti qui ratione molestiae, laudantium dignissimos nisi quo ad nam non eligendi? 
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta distinctio magnam dolor a asperiores illum, 
                tempore autem. Omnis deleniti qui ratione molestiae, laudantium dignissimos nisi quo ad nam non eligendi? 
    </p>
</div>


<div class = "container-fluid text-center line why-ch p-5">
    <div class = "row">
        <h2>Why Choose us?</h2>
    </div>
    <hr>
    <div class = "row">
    <div class = "col-md-4" >
        <h3>24 Hours working</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta distinctio magnam dolor a asperiores illum, 
            tempore autem. Omnis deleniti qui ratione molestiae, laudantium dignissimos nisi quo ad nam non eligendi? 
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta distinctio magnam dolor a asperiores illum, 
             tempore autem. Omnis deleniti qui ratione molestiae, laudantium dignissimos nisi quo ad nam non eligendi? </p>
    </div > 
    <div class = "col-md-4" >
        <h3>Experianced Doctors</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta distinctio magnam dolor a asperiores illum, 
            tempore autem. Omnis deleniti qui ratione molestiae, laudantium dignissimos nisi quo ad nam non eligendi? 
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta distinctio magnam dolor a asperiores illum, 
             tempore autem. Omnis deleniti qui ratione molestiae, laudantium dignissimos nisi quo ad nam non eligendi? </p>
    </div >
    <div class = "col-md-4" >
        <h3>Latest Techenology</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta distinctio magnam dolor a asperiores illum, 
            tempore autem. Omnis deleniti qui ratione molestiae, laudantium dignissimos nisi quo ad nam non eligendi? 
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta distinctio magnam dolor a asperiores illum, 
             tempore autem. Omnis deleniti qui ratione molestiae, laudantium dignissimos nisi quo ad nam non eligendi? </p>
    </div >
    </div>

</div>

<div class="last-of-it container-fluid text-center p-5 line">
    <h2>Inspiring Better Health</h2>
    <hr>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta distinctio magnam dolor a asperiores illum, 
        tempore autem. Omnis deleniti qui ratione molestiae, laudantium dignissimos nisi quo ad nam non eligendi? 
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta distinctio magnam dolor a asperiores illum, 
         tempore autem. Omnis deleniti qui ratione molestiae, laudantium dignissimos nisi quo ad nam non eligendi? </p>
</div>



<%- include('footer.ejs'); %>

