<%- include('header.ejs'); %>

<div class = "fluid-container mb-5">
    <div class="row p-5 text-center">
        <h1> DATA ADDED SUCCESSFULLY </h1>
    </div>
    
        <div class = "pt-5">
            <a class="btn btn-outline-secondary btn-lg but-left " href="/" role="button">BACK TO HOME PAGE</a>
        
            <a class="btn btn-outline-success btn-lg but-right " href="/<%= link %>" role="button">ENTER MORE DATA</a>
        </div>
</div>
