        <footer>
            <div class="full-footer" >
                <div class="container-fluid p-md-3 p-1">
                    <div class="row">
                        <div class="col-md-3">
                          <a href="#">
                          <img class="img-fluid bottom-logo" src="/LOGO.png" style="width: auto; height:auto; "></a>
                        </div>
                        <div class="col-md-3 px-4 linked ">
                          <p>We have some of the most trusted and experianced doctors ...
                            <a href="#">Read more</a>
                          </p> 
                          <a style="color: #f4f9f9;" class="p-1  m-2" href="https://www.facebook.com/"><i class="fab fa-2x fa-facebook-square"></i></a>
                          <a style="color: #f4f9f9;" class="p-1 m-2" href="https://myaccount.google.com/"><i class="fab fa-2x fa-google-plus-square"></i></a>
                          <a style="color: #f4f9f9;" class="p-1 m-2" href="https://twitter.com/explore"><i class="fab fa-2x fa-twitter-square"></i></a>
                          <a style="color: #f4f9f9;" class="p-1 m-2" href="https://www.instagram.com/accounts/login/"><i class="fab fa-2x fa-instagram"></i></a>  
                        </div>
                        <div class="col-md-3 px-4 line linked  ">
                          <h3>Quick Links</h3>
                          <hr style="width: 100%;">
                            <a href="/aboutus">Privacy Policy</a><br>
                            <a href="/">Home </a><br>
                            <a href="/aboutus">About Us </a><br>                     
                            <a href="/aboutus">Contact Us</a> 
                          </div>
                        <div class="col-md-3 px-4 line linked">
                          <h3>Contact Us</h3>
                          <hr style="width: 100%;">
                            <a href="#"><i class="fas fa-phone"></i> +(91) 82007XXXXX  </a><br>
                            <a href="#"><i class="fas fa-envelope"></i> contactus@svnithospital.com  </a><br>  
                            <iframe class="embeded-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3720.677469933256!2d72.78203521444972!3d21.165230085924573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04dec8b56fdf3%3A0x423b99085d26d1f9!2sSardar%20Vallabhbhai%20National%20Institute%20of%20Technology!5e0!3m2!1sen!2sin!4v1589910130825!5m2!1sen!2sin" frameborder="0" style="border:0;"></iframe>
                        </div>
                        
                      </div>

                </div>
            </div>
        </footer>

    </body>
</html>