<%- include('header.ejs'); %>

<div class="main_content text-center p-5">
    <div class="row p-2">
        <h2>WHY HEALTH MATTERS</h2>
    </div>
    <div class="row p-2">
        <br>
        <p>Good Health is important because a man of health can enjoy great happiness during his life time. Without health we cannot do anything,<br>in this world. A man suffering from fever remains confined to bed. He cannot get out of doors. He cannot do anything for anybody.
            <br>
        Health is more valuable than wealth. Even a poor peasant with good health is happier than the rich person with poor health.
        </p>
        <p>Good Health is important because a man of health can enjoy great happiness during his life time. Without health we cannot do anything,<br>in this world. A man suffering from fever remains confined to bed. He cannot get out of doors. He cannot do anything for anybody.
            <br>
        Health is more valuable than wealth. Even a poor peasant with good health is happier than the rich person with poor health.
        </p>
    </div>
</div>
<div class="container-fluid text-center" style = "width: 100%; padding-bottom: 0px;">
    <div class="middle_portion p-5">
        <div class="first_middle_portion">
            <div class="first_middle_portion_para p-2">
                <h3>Coronavirus (COVID-19) Updates</h3>
                <p>  Find the latest resources and information about COVID-19. Get answer
                     details about the free COVID-19 virtual screening for Indiana residents<br> 
                     and how we're keeping you safe at your upcoming appointments.<br>
                     Do stay home and take Tylenol, cough syrup and plenty of rest if <br>
                     you think you may have COVID-19. You should also isolate yourself <br>
                     from your other family members, and use a designated bathroom in the <br>
                     house that no one else is using. If your symptoms are mild and can be<br>
                      managed at home, you are unlikely to get a COVID-19 test based on <br>
                      current guidelines in Colorado and it reduces your risk if you avoid <br>
                      going to the doctor. If you have shortness of breath, or are in a high-risk<br> 
                      group or have progressive symptoms, call your doctor’s office right away.<br>


                </p>
                <a href="https://www.worldometers.info/coronavirus/">COVID LIVE UPDATES</a>
            </div>
        </div>
        <div class="second_middle_portion">

        </div>
    </div>
    

</div>
    


<%- include('footer.ejs'); %>

